h1 {
    text-decoration: underline;
}

img {
    margin: 3vh 0vh;
    height:100%;
    width: 100%;
}

p {
    font-size: 20px;
    padding-left: 1vh;
    
}

.bold {
    font-weight: bold;
}

.tab1 {
    padding-left: 1vh;
}
.tab2 {
    padding-left: 2vh;
}
.tab3 {
    padding-left: 3vh;
}

.imgExample {
    height: auto;
    margin-bottom: 1vh;
    
}