<div style="padding: 3vh;">
    <h1>อุบัติเหตุ อุ่นใจ 24 ชั่วโมง มีค่ารักษาและค่าชดเชย</h1>
<img src="../../assets/doc/everytime/1.jpg">
<img src="../../assets/doc/everytime/2.jpg">
<h2>ชดเชยรายได้ สูงสุด 1,000 บาท / วัน*</h2>
<p class="text1">ไม่ต้องสำรองจ่าย</p>
<p class="text2">เพียงยื่นบัตรกับ โรงพยาบาลคู่สัญญา</p>

<p class="text1">ลูกหลานเบาใจ</p>
<p class="text2">มีค่าปลงศพสูงสุด 50,000 บาท*</p>

<p class="text1">เบี้ยหลักพันคุ้มครองหลักล้าน</p>
<p class="text2">รวมถึงการถูกฆาตกรรม หรือถูกทำร้ายร่างกาย</p>

<p class="text1">คุ้มครองค่ารักษาพยาบาล</p>
<p class="text2">ต่ออุบัติเหตุแต่ละครั้งสูงสุด 100,000 บาท</p>
</div>
