<div style="padding: 3vh;">
    <h1>อุบัติเหตุ อุ่นใจ 24 ชั่วโมง มีค่ารักษาและค่าชดเชย</h1>
<img src="../../assets/doc/everytime/1.jpg">
<img src="../../assets/doc/everytime/2.jpg">
<h2>ชดเชยรายได้ สูงสุด 1,000 บาท / วัน*</h2>
<p>
    <span class="bold">ไม่ต้องสำรองจ่าย</span><br>
    <span class="tab1">เพียงยื่นบัตรกับ โรงพยาบาลคู่สัญญา</span>
</p>
<p>
    <span class="bold">ลูกหลานเบาใจ</span><br>
    <span class="tab1">มีค่าปลงศพสูงสุด 50,000 บาท*</span>
</p>
<p>
    <span class="bold">เบี้ยหลักพันคุ้มครองหลักล้าน</span><br>
    <span class="tab1">รวมถึงการถูกฆาตกรรม หรือถูกทำร้ายร่างกาย</span>
</p>
<p>
    <span class="bold">คุ้มครองค่ารักษาพยาบาล</span><br>
    <span class="tab1">ต่ออุบัติเหตุแต่ละครั้งสูงสุด 100,000 บาท</span>
</p>
<p>
    <span class="bold"></span><br>
    <span class="tab1"></span>
</p>
</div>
