<app-sidebar-health>
    <h1>อุบัติเหตุ อุ่นใจกระดูกหัก</h1>
    <img src="../../assets/doc/bone/1.jpg">
    <img src="../../assets/doc/bone/2.jpg">
    <h2>คุ้มครองทุกเพศทุกวัย</h2>
    <p>เริ่มต้นอายุ 1 เดือน ถึง 70 ปี สามารถต่ออายุได้ถึง 75 ปี</p>
    <p>
        <span class="bold">ไม่ต้องสำรองจ่าย</span><br>
        <span class="tab1">เพียงยื่นบัตรกับ โรงพยาบาลคู่สัญญา</span>
    </p>

    <p>
        <span class="bold">คุ้มครองอุบัติเหตุ</span><br>
        <span class="tab1">จากการขับขี่หรือโดยสารรถจักรยานยนต์</span><br>
        <span class="tab1">จากการถูกฆาตกรรม หรือถูกลอบทำร้าย</span>
    </p>
    <p>
        <span class="bold">คุ้มครองอุบัติเหตุ พิเศษ</span><br>
        <span class="tab1">การแข่งกีฬาอันตราย</span>
    </p>
    <p>
        <span class="bold">คุ้มครองค่ารักษาพยาบาลกระดูกหัก</span><br>
        <span class="tab1">สูงสุดต่อครั้ง 150,000 บาท</span>
    </p>
    <img src="../../assets/doc/bone/3.jpg">
    <img src="../../assets/doc/bone/4.jpg">

</app-sidebar-health>