<app-sidebar>
    <div style="padding: 3vh 2vh 5vh 2vh;">
        <h2>สอบถามประกันภัยเพิ่มเติมติดต่อเจ้าหน้าที่</h2>
        <p class="tab1">ความไม่มีโรค เป็นลาภอันประเสริฐ -- แต่ความจริงคือ เราทุกคนป่วย เบาบ้าง หนักบ้าง
            โดยความเสี่ยงที่จะเจ็บป่วยสูงสุดในเด็กอ่อน ก่อนวัยเรียน ความเสี่ยงลดลงในวัยหนุ่มสาว
            และจะกลับมาเสี่ยงสูงขึ้นเรื่อยๆ ตั้งแต่วัยทำงานเป็นต้นไป</p>
        <p class="tab1">ประกันสุขภาพ ช่วยคุ้มครองค่ารักษาพยาบาล ในอีกมุมหนึ่งยังเป็นเครื่องมือบริหารการเงินส่วนบุคคล
            ช่วยให้เราสามารถควบคุมความเสี่ยง ลดความเสียหายทางการเงินที่อาจเกิดขึ้นจากค่ารักษาพยาบาลสูงๆ ได้</p>
        <img src="../../assets/doc/contact/1.jpg">
        <div class="row" style="padding-left: 3vh; padding-right: 3vh;">
            <div class="col">
                <a>
                    <img class="imgExample" src="../../assets/doc/contact/2.jpg">
                    <div style="text-align: center;">ตัวอย่างแบบฟอร์มเรียกร้องค่าสินไหม</div>
                </a>
            </div>
            <div class="col">
                <a>
                    <img class="imgExample" src="../../assets/doc/contact/3.jpg">
                    <div style="text-align: center;">แบบฟอร์มเรียกร้องค่าสินไหม</div>
                </a>
            </div>
            <div class="col">
                <a>
                    <img class="imgExample" src="../../assets/doc/contact/4.jpg">
                    <div style="text-align: center;">แบบฟอร์มเรียกร้องค่าสินไหม-ENG</div>
                </a>
            </div>
        </div>
    </div>
</app-sidebar>