<app-sidebar>
    <h1>อุบัติเหตุส่วนบุคคล มีค่ารักษา</h1>
    <img src="../../assets/doc/personal/1.png">
    <h2>เหมาะสำหรับ</h2>
    <p>บุคคลทั่วไป อายุ 5-60 ปี</p>
    <p>กลุ่มบริษัทที่ต้องการทำประกันให้แก่พนักงาน</p>

    <h2>มีค่ารักษาพยาบาล</h2>
    <p>อบ.1 คือ การเสียชีวิต สูญเสียอวัยวะ/สายตา การทุพพลภาพถาวรสิ้นเชิง /ค่ารักษาพยาบาล</p>

    <p>อบ.2 จะให้ความคุ้มครองเพิ่มจาก อบ.1 คือ การสูญเสียนิ้ว การสูญเสียการรับฟังเสียง/การพูดออกเสียง
        และการทุพพลภาพถาวรบางส่วน /ค่ารักษาพยาบาล</p>
    <img src="../../assets/doc/personal/2.jpg">
    <img src="../../assets/doc/personal/3.jpg">

    <h2>หมายเหตุ</h2>
    <p>ผู้ขอเอาประกันภัยจะต้องมีอายุระหว่าง 5-60 ปี</p>
    <p>ผู้ทำประกันจะต้องมีสุขภาพสมบูรณ์ ไม่มีอวัยวะส่วนใดบกพร่องหรือพิการ</p>
</app-sidebar>